
<!-- <div> 
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="course_Id">Course Id</label>
      <input type="text" class="form-control" id="course_Id" required [(ngModel)]="course.course_Id" name="course_Id">
    </div>

    <div class="form-group">
      <label for="course_Name">Course Name</label>
      <input type="text" class="form-control" id="course_Name" required [(ngModel)]="course.course_Name" name="course_Name">
    </div>

    <div class="form-group">
      <label for="course_Description">Course Description</label>
      <input type="text" class="form-control" id="course_Description" required [(ngModel)]="course.course_Description" name="course_Description">
    </div>

    <button type="submit" class="btn btn-success">Edit</button>

  </form>
</div>-->

<!--  

<h3>Update Course Details</h3>

<div>
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="course_Id">Course Id</label>
      <input type="text" class="form-control" id="course_Id" required [(ngModel)]="course.course_Id" name="course_Id">
    </div>

    <div class="form-group">
      <label for="course_Name">Course Name</label>
      <input type="text" class="form-control" id="course_Name" required [(ngModel)]="course.course_Name" name="course_Name">
    </div>

    <div class="form-group">
      <label for="course_Description">Course Description</label>
      <input type="text" class="form-control" id="course_Description" required [(ngModel)]="course.course_Description" name="course_Description">
    </div>

    <button type="submit" class="btn btn-success">Edit</button>

  </form>
</div>-->

<div class="container mt-5 form-container">
  <h3>Update Course Details</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="course_Id">Course Id</label>
      <input type="text" class="form-control" id="course_Id" required [(ngModel)]="course.course_Id" name="course_Id">
    </div>
    <div class="form-group">
      <label for="course_Name">Course Name</label>
      <input type="text" class="form-control" id="course_Name" required [(ngModel)]="course.course_Name" name="course_Name">
    </div>
    <div class="form-group">
      <label for="course_Description">Course Description</label>
      <input type="text" class="form-control" id="course_Description" required [(ngModel)]="course.course_Description" name="course_Description">
    </div>
    <button type="submit" class="btn btn-primary">Edit</button>
  </form>
</div>
