<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Admin Panel</h3>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a routerLink="/admin-dashboard"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li>
            <a routerLink="/admin-courses"><i class="fas fa-book"></i> Courses</a>
        </li>
        <li>
            <a routerLink="/admin-classroom"><i class="fas fa-user"></i> Classroom</a >
    </li>
    <li>
      <a routerLink="/admin-teacher"><i class="fas fa-chalkboard-teacher"></i> Teachers</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-user-graduate"></i> Students</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-cog"></i> Settings</a>
        </li>
        <li>
            <a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </li>
    </ul>

    <button id="sidebarCollapse">
    <i class="fas fa-bars"> </i>
  </button>
</nav>