<!-- <div> 
    <label for="classroomId">Classroom ID:</label>
    <input type="number" id="classroomId" [(ngModel)]="classroom.classroom_Id" name="classroomId">
</div>
<div>
    <label for="teacherId">Teacher ID:</label>
    <input type="number" id="teacherId" [(ngModel)]="teacher_Id" name="teacherId">
</div>
<div>
    <label for="classroomName">Classroom Name:</label>
    <input type="text" id="classroomName" [(ngModel)]="classroom.classroom_Name" name="classroomName">
</div>
<div>
    <label for="classroomDescription">Classroom Description:</label>
    <input type="text" id="classroomDescription" [(ngModel)]="classroom.classroom_Description" name="classroomDescription">
</div>
<button (click)="onSubmit()">Submit</button>-->



<!-- update-classroom.component.html -->
<div class="form-container">
    <form>
        <div>
            <label for="classroomId">Classroom ID:</label>
            <input type="number" id="classroomId" [(ngModel)]="classroom.classroom_Id" name="classroomId">
        </div>
        <div>
            <label for="teacherId">Teacher ID:</label>
            <input type="number" id="teacherId" [(ngModel)]="teacher_Id" name="teacherId">
        </div>
        <div>
            <label for="classroomName">Classroom Name:</label>
            <input type="text" id="classroomName" [(ngModel)]="classroom.classroom_Name" name="classroomName">
        </div>
        <div>
            <label for="classroomDescription">Classroom Description:</label>
            <input type="text" id="classroomDescription" [(ngModel)]="classroom.classroom_Description" name="classroomDescription">
        </div>
        <button (click)="onSubmit()">Submit</button>
    </form>
</div>
