

<div class="home-container">
    <div class="image-container">
      <img src="assets/study1.jpg" alt="Virtual Classroom">
    </div>
    <div class="text-container">
      <h1>Welcome to Your Virtual Classroom</h1>
      <p>
        Experience a revolutionary approach to education with our cutting-edge classroom management system. Our platform empowers educators to seamlessly create and deliver engaging courses, assign tasks, and monitor student progress. Meanwhile, students benefit from easy access to educational materials, seamless submission of assignments, and collaborative learning opportunities with peers. This system is designed to streamline the teaching and learning process.
      </p>
      <a href="/register" class="cta-button">Get Started</a>
    </div>
   
  </div>
  




  
  <app-about></app-about>

  <app-contact></app-contact>