
<div class="about-container">
    <div class="image-container">
      <img src="assets/study3.jpg" alt="Image Description">
    </div>
    <div class="about-content">
      <h2>About Us</h2>
      <p>
        At Study Controller, we're all about making learning fun and effective. Our platform helps teachers create awesome courses, give out tasks easily, and keep track of how students are doing. And for students, it's super simple to find study stuff, turn in homework, and work together with classmates. We're here to make school life smoother and more enjoyable for everyone!
      </p>
    </div>
  </div>


  
  
